<h4>Резерв или организация мероприятия</h4>

<p>Имя: {{data.name}}</p>
<p>Телефон: {{data.phone}}</p>
{{#if data.selebrate}}
<p>{{data.selebrate}}</p>
{{/if}}
{{#if data.table}}
<p>{{data.table}}</p>
{{/if}}
{{#if data.wedding}}
<p>{{data.wedding}}</p>
{{/if}}
{{#if data.birthday}}
<p>{{data.birthday}}</p>
{{/if}}

